@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables */
:root{
  --FONT: 'Nunito', sans-serif;
}


/* General Styles */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  background-color: #151515;
  color: #fff;
  display: flex;
  min-height: 100vh;
}
.container{
  margin: 40px auto;
  width: 70%;
  max-width: 1000px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
}

/* Header Styles */
.header{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow-x: hidden;
  box-shadow: #ccc 0px 0px 5px 0px;
}
.header img{
  width: 200px;
  height: auto;
  border-radius: 20px;
}
.header-text{
  margin: auto 1rem;
  min-width: 0;
}
.header-text h1{
  font-size: 3rem;
  font-family: var(--FONT);
  white-space: nowrap;
}
.surname{display: none;}
@media screen and (min-width: 768px) {
  .surname {
    display: inline-flex;
    font-size: inherit;
    font-family: var(--FONT);
    color: #ccc;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    border-right: 0.1em solid transparent;
  }

  .header-text:hover .surname {
    animation: 
      typing 1s ease-in-out forwards,
      blinking-caret 0.75s step-start infinite;
  }

  .header-text.has-hovered:not(:hover) .surname {
    animation: 
      untyping 1s ease-in-out forwards,
      blinking-caret 0.75s step-start infinite;
  }

  @keyframes typing {
    0% { width: 0; }
    100% { width: 7ch; }
  }

  @keyframes untyping {
    0% { width: 7ch; }
    100% { width: 0; }
  }

  @keyframes blinking-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke; }
  }
}

.header-text p{
  font-size: 1.2rem;
  color: #ccc;
}
.socials{
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: 1rem;
  flex-direction: column;
  width: 1.5rem;
}
.socials svg{
  min-width: 24px;
}

/* Content Styles */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.content h2{
  font-size: 2rem;
  font-family: var(--FONT);
  white-space: nowrap;
  margin: 20px 0 0 0;
}

/* Tech Stack Styles */
.tech{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: min(1rem, 2vw);
  margin: 0.5rem auto;
}
.tech-item{
  background-color: #1e1e1e;
  padding: 0.7em;
  border-radius: 8px;
  width: calc(25% - 20px);
  display: flex;
  align-items: center;
  justify-content:start;
  border: 1px solid #333;
}

.tech-item:hover svg,
.tech-item:focus svg{
  filter: brightness(1.2)
  drop-shadow(0 0 6px #ccc)
  hue-rotate(5deg);
  transform: scale(1.2);
  transition:all 0.3s ease-in-out;
}


.tech-item svg{
  width: 2rem;
  height: auto;
  min-width: 25px;
  margin-right: 1rem;
  transition:
    filter 0.3s ease-in-out, 
    transform 0.3s ease-in-out;
}
.tech-item h3{
  font-size: min(1.2rem, 3.5vw);
  font-weight: 550;
  font-family: var(--FONT);
  white-space: nowrap;
}

/* Media Queries */

/* Max Width 1200px */
@media screen and (max-width: 1200px) {
  .container{
    width: 80%;
  }
  .header img{
    width: 150px;
  }
}

/* Max Width 1024px */
@media screen and (max-width: 1024px) {
  .container{
    width: 85%;
  }
  .header img{
    width: 120px;
  }
  .tech-item{
    width: calc(33.3333% - 20px);
  }
  .tech-item svg{
    width: 1.5rem;
  }
}

/* Max Width 768px */
@media screen and (max-width: 768px) {
  .container{
    width: 95%;
  }
  .header img{
    width: 100px;
  }
  .tech-item{
    width: calc(33.33% - 20px);
  }
  .tech-item h3{
    font-size: min(1.5rem, 3vw);
  }
  .tech-item svg{
    margin-right: 0.5rem;
    margin-left: -0.2rem;
  }
}

/* Max Width 481px */
@media screen and (max-width: 481px) {
  .container{
    width: 90%;
  }
  .header img{
    width: 4rem;
  }
  .tech-item{
    width: calc(50% - 20px);
  }
  .header-text h1{
    font-size: 2rem;
  }
  .tech-item h3{
    font-size: 4vw;
  }
}